.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner-titulo{
    font-size: 18px;
    font-weight: 700;
}
.banner-texto{
    font-weight: 500;
    margin: 1em 0;
}
.banner-pesquisar{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner-pesquisar::placeholder{
    font-family: var(--font-poppins);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../assets/lupa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner-titulo{
        font-size: 36px;
        font-weight: 700;
    }
    .banner-pesquisar{
        width: 50%;
    }
    .banner-pesquisar::placeholder{
        background-position: 6em;
    }
    
}
@media screen and (min-width: 1650px) {
    .banner-pesquisar{
        width: 35%; 
    }
    .banner-pesquisar::placeholder{
        background-position: 8em;
    }
    .banner{
        padding: 5em;
    }
    .banner-texto{
        margin: 2em 0;
    }

}
